# Python
__pycache__/
*.py[cod]
*.so
build/
dist/
*.egg-info/
.coverage
.pytest_cache/

# Environment
.env
.venv
venv/

# Project specific
repl_state/
slack_events/
*.logs
*.bak

# IDE
.vscode/
.idea/

# OS
.DS_Store